.addToHomeScreen {
  display: none;

  @media only screen and (max-width: 768px) {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    background: #eee8;
    border-radius: 1rem;

    &_add {
      border: none;
      padding: 1rem;
      background: #000;
      color: #fff;
      border-radius: 1rem;
    }

    &_close {
      border: none;
      padding: 1rem;
      background: #000;
      color: #fff;
      border-radius: 1rem;
    }
  }
}
